<!DOCTYPE html>
<html lang="<%= config.language %>">

<%- partial('_partial/head') %>

<body>
	<%- partial('_partial/header.ejs') %>
	<%- partial('_partial/sidebar.ejs') %>

	<div id="content">
		<%- body %>
	</div>
	<%- partial('_partial/footer.ejs') %>
	<%- partial('_partial/totop') %>
</body>
</html>