<h1 id="article-title">
	<%- page.title || page.slug.split("/")[page.slug.split("/").length-1] %>
</h1>
<div class="article-meta">
	<% if (theme.valine.enableCounter){ %>
	<span>
		阅读量:<span
			id="<%= url_for(page.path) %>"
			class="leancloud_visitors"
			data-flag-title="<%- page.title %>"></span>
	</span>
	<% } %>
	<span> <%- config.author %> </span>
	<span> <%- date(page.date, "YYYY-MM-DD HH:mm:ss" ) %> </span>
	<div id="article-categories">
		<% if (page.categories) { %>
		<span>Categories：</span>
		<% for (var j=0; j < page.categories.data.length; j++) { %> <% if
		(page.categories.data[j] && page.categories.data[j].name) { %>
		<span>
			<i class="fa fa-folder" aria-hidden="true">
				<a href="/<%- page.categories.data[j].path %>">
					<%- page.categories.data[j].name %>
				</a>
			</i>
			<% if (j < page.categories.data.length - 1) { %> > <% } %>
		</span>
		<% } %> <% } %> <% } %> <% if (page.tags) { %>
		<span>Tags：</span>
		<% for (var j=0; j < page.tags.data.length; j++) { %> <% if
		(page.tags.data[j] && page.tags.data[j].name) { %>
		<span>
			<i class="fa fa-tag" aria-hidden="true">
				<a href="/<%- page.tags.data[j].path %>">
					<%- page.tags.data[j].name %>
				</a>
			</i>
		</span>
		<% } %> <% } %> <% } %>
	</div>
</div>

<div id="article-content"><%- page.content %></div>

<!-- post-guide -->

<% if (is_post()){
let posts = site.posts;

    let prev,next  = null;
    let current = page.title || page.slug.split("/")[page.slug.split("/").length-1];

    let data = [];

    for(let i = 0; i < posts.length; i++) {
    	post = posts.data[i];
    	data.push(post);
    }

    data.sort(function(a, b){
    	let date ={
    		a:new Date(a.date),
    		b:new Date(b.date),
    	}
    	return (date.a - date.b);
    });

    for(let i = 0; i < data.length; i++){
    	post = data[i];
    	let title = post.slug.split("/")[post.slug.split("/").length-1];
    	if(title == current){
    		prev = data[i-1];
    		next = data[i+1];
    		if (i == data.length-1){
    			next = null;
    		}
    	}


    }

%>

<div class="post-guide">
<div class="item left">
<% if ( prev != null ) { %>
<a href="<%- url_for(prev.path) %>">
<i class="fa fa-angle-left" aria-hidden="true"></i>
<%- prev.title || prev.slug.split("/")[prev.slug.split("/").length-1] %>
</a>
<% }%>
</div>
<div class="item right">
<% if ( next != null ) { %>
<a href="<%- url_for(next.path) %>">
<%- next.slug.split("/")[next.slug.split("/").length-1] %>
<i class="fa fa-angle-right" aria-hidden="true"></i>
</a>
<% }%>
</div>
</div>
<% } %>

<!-- giscus -->

<% if(theme.giscus.enableComment){%>
<br />

<div id="comment"></div>
<% } %>

<!-- valine -->

<% if (theme.valine.enableComment){ %>

<div id="vcomments"></div>
<% } %>

<script>
	<% if (theme.valine.enableComment) { %>
				// 评论
				new Valine({
					el: '#vcomments',
					appId: '<%- theme.valine.appID %>',
					appKey: '<%- theme.valine.appKey %>',
					placeholder: '<%- theme.valine.placeholder %>',
					path: window.location.pathname,
					avatar: '<%- theme.valine.avatar %>',
					highlight: false,
					recordIP: true,
					enableQQ: true,
					requiredFields: ['nick', 'mail']
				})
				<% } %>
	<% if (theme.valine.enableCounter) { %>
				// 显示次数
				function showTime(Counter) {
					var query = new AV.Query("Counter");
					if ($(".leancloud_visitors").length > 0) {
						var url = $(".leancloud_visitors").attr('id').trim();
						// where field
						query.equalTo("words", url);
						// count
						query.count().then(function (number) {
							// There are number instances of MyClass where words equals url.
							$(document.getElementById(url)).text(number ? number : '--');
						}, function (error) {
							// error is an instance of AVError.
						});
					}
				}
				// 追加pv
				function addCount(Counter) {
					var url = $(".leancloud_visitors").length > 0 ? $(".leancloud_visitors").attr('id').trim() : 'wujun234.github.io';
					var Counter = AV.Object.extend("Counter");
					var query = new Counter;
					query.save({
						words: url
					}).then(function (object) {
					})
				}
				$(function () {
					var Counter = AV.Object.extend("Counter");
					addCount(Counter);
					showTime(Counter);
				});
	<% } %>
</script>

<script>
	<% if(theme.giscus.enableComment){ %>
		(function () {
			var giscus = document.createElement("script");
			giscus.type = "text/javascript";
			giscus.async = true;
			giscus.setAttribute("data-repo", "<%- theme.giscus.repo %>");
			giscus.setAttribute("data-repo-id", "<%- theme.giscus.repoid %>");
			giscus.setAttribute("data-category", "General");
			giscus.setAttribute("data-category-id", "DIC_kwDOFvofFs4CPo1Q");
			giscus.setAttribute("data-mapping", "title");
			giscus.setAttribute("data-reactions-enabled", "<%- theme.giscus.reactions %>");
			giscus.setAttribute("data-emit-metadata", "0");
			giscus.setAttribute("data-input-position", "top");
			giscus.setAttribute("data-theme", "light");
			giscus.setAttribute("data-lang", "zh-CN");
			giscus.setAttribute("data-loading", "lazy");
			giscus.setAttribute("crossorigin", "anonymous");
			giscus.src = "https://giscus.app/client.js";
			document.getElementById("comment").appendChild(giscus);
		})();
	<% } %>
</script>
