
<div id="sidebar">
	<button id="sidebar-toggle" class="toggle" ><i class="fa fa-arrow-right " aria-hidden="true"></i></button>

	<div id="site-toc">
		<input id="search-input" class="search-input" type="search" placeholder="按回车全站搜索">
		<div id="tree">
			<%
				<!-- 将路径转换成 tree 目录结构 -->
				const pathToTree = (input) => {
					var output = [];
					input.forEach(function(post){
						<!-- 用来分割去掉时间的路径 -->
						var chain = post.slug.split("/");
						var currentNode = output;
						for (var j = 0; j < chain.length; j++) {
							if (chain[j] === '') {
								break;
							}
							var wantedNode = chain[j];
							var lastNode = currentNode;

							for (var k = 0; k < currentNode.length; k++) {
								if (currentNode[k].title == wantedNode) {
									currentNode = currentNode[k].children;
									break;
								}
							}

							if (lastNode == currentNode) {
								var newNode = currentNode[k] = { post: post, title: wantedNode, children: [] };
								currentNode = newNode.children;
							} else {
								delete currentNode.children
							}
						}
					});
					return output;
				}

			%>

			<%
				<!-- 递归输出侧边栏目录 tree -->
				const showTree = (input,root) => {

					<!-- 按照日期排序 -->
					input.sort(function(a, b){
						let date ={
							a:new Date(a.post.date),
							b:new Date(b.post.date),
						}
						return (date.a - date.b);
					});

					<!-- 循环输出 html 结构 -->
					input.forEach(function(node) {
						let source = "";
						if ( node.children == 0 ) {
			%>
						<% if(root != node.post.path){ %>
							<ul>
						<% } %>
						<% if(root != node.post.path){
							let fill_title = node.post.path.slice(0,-1).split('/');
							fill_title.splice(0,3);
							let title = fill_title.join("/");
						%>
									<li class="file<%- (is_post() && node.post._id == page._id) ? ' active' : '' %>">

										<a href="<%- url_for(node.post.path) %><%-  %>" title="<%- title %>">
						<%

							if (theme.sidebar.usePostTitle) { %>
												<%- node.post.title || node.title %>
						<% } else { %>
												<%- node.title %>
						<% } %>
										</a>
									</li>
									<div class="article-toc" style="display: none;"></div>
								</ul>
			<%
						}
						}else {
			%>
							<ul>
								<li class="directory">
			<%
									list = node.title.split("/")
									let parent_post = list[list.length-1]
									let path = node.title+"/"+parent_post

									let page_title = page.path.split("/");

									let children_list = node.children;
									let child_post = null;
									children_list.forEach(child => {
										if(child.post.path.indexOf(path)>0){
											child_post = child.post;
											source = child.post.path;
										}
									});

									let full_title = child_post.slug;
									let current_title = page.path.slice(0,-1).split("/");
									current_title.splice(0,3);
									let title = current_title.join("/");
									%>
									<a href="#" class="directory">
										<i class="fa fa-plus-square-o"></i>
										<a class="directory<%- (is_post() && full_title == title) ? ' active' : '' %>" href="<%- "/"+source %><%-  %>" title="<%- full_title %>">
											<%- node.title %>
										</a>
									</a>
									<%- showTree(node.children,source) %>
								</li>
							</ul>
			<%
						}
					});
				}
				showTree(pathToTree(site.posts),"")
			%>
		</div>
	</div>
</div>